/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Settings*/
.container {
    margin: 0;
}

.row {
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.row-space-between {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.row-space-around {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.row-center {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.vert-align {
    vertical-align: middle;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

body {
    font-family: montserrat;
}

/*Header*/
.main-header {
    background-color: white;
    padding: 25px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo {
    vertical-align: middle;
}

.menu-items {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.align-right {
    text-align: right;
}

.small-blue-button {
    background-color: #0061FF;
    color: white;
    padding: 5px;
    width: 65px;
    border: none;
    
}

.inline {
    display: inline-block;
}

.pad-5 {
    padding: 5px;
}

.marg-left {
    margin-left: 10px;
}

/*Main*/

/*Cover*/
.cover {
    background-color: #B4D0E7;
    height: 675px;
    margin: auto;
}

.cover-contents {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-left: 170px;
    padding-top: 125px;
}

.main-title {
    font-size: 65px;
    text-align: left;

}

.txt-left {
    text-align: left;
}

#cover-img {
    width: 750px;
}

.cov-mrg-top {
    margin-top: 40px;
}

.icon {
    margin-top: 60px;
    font-size: 45px;
}

.medium-blue-button {
    background-color:#0061FF;
    color: white;
    border: none;
    padding: 10px;

}

.mrg-top {
    margin-top: 25px;
}

.col-4 > p {
    font-size: 15px;
}

/*Plans*/
.plans-container {
    padding-bottom: 50px;
}

.plans-contents {
    padding-top: 135px;
    width: 50%;
    margin: auto;
    text-align: left;
}

.check-month {
    color: white;
    background-color: white;
    
}

.business-title {
    font-size: 35px;
}

.mrg-left {
    margin-left: 35px;
}

.pad-bottom {
    padding-bottom: 50px;
}

.plan {
    border: 1px solid grey;
    width: 300px;
}

.plan-container {
    padding-top: 35px;
}

.plan-type {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.plan-person {
    font-size: 12px;
}

.plan-icon {
    font-size: 15px;
}

.plan-name {
    font-size: 20px;
}

.plan-functions {
    padding: 30px;
}

.price {
    padding-top: 15px;
    font-size: 13px;
}

.info-period {
    padding-top: 5px;
    font-size: 12px;
    color: grey;
}

.plan-functions span {
    font-size: 12px;
    margin-left: 5px;
}

.plan-functions-folder {
    margin-top: 10px;
}

ul {
    list-style: none;
}

.plan-pad {
    padding-top: 35px;
}

.align-center {
    text-align: center;
}

.big-blue-button {
    background-color:#0061FF;
    color: white;
    border: none;
    padding: 10px;
    width: 240px;
    margin-top: 45px;
}

.or-buy-now {
    padding-top: 20px;
    font-size: 13px;
}

.divisor {
    width: 45px;
    margin-top: 30px;
    border: 0.1px solid lightgrey;
    margin-bottom: 30px;
}

.blue {
    color: #0061FF;
}

.enterprise-plan {
    border: 1px solid grey;
    width: 100%;
    margin-top: 50px;
}

.enter-pad {
    padding: 25px;
}

.enter-copy {
    margin-top: 50px;
    font-size: 14px;
}

.mrg-min {
    margin-top: 15px;
}

/*Partner*/
.get-in-touch {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 75px;
}

#partner-img {
    width: 575px;

}

.partner-capt {
    padding-top: 20px;
    font-size: 10px;
}

#partner-button {
    margin-top: 25px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    font-size: 15px
}

.partner-title {
    font-size: 22px;
}

.pad-top {
    padding-top: 45px;
}

/*Dropbox Business Container*/
.dropbox-business-container {
    margin:auto;
    width: 50%;
    height: 1200px;
    padding-top: 75px;
}

.business-title {
    font-size: 30px;
    padding-bottom: 50px;
}

.dropbox-business-container img {
    width: 275px;
}

.business-subtitle {
    font-size: 19px;
}

.business-caption {
    padding-top: 20px;
}

.business-subrow {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px;
}

.business-pad {
    padding: 10px;
}

/*Clients*/
.clients-section {
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
}

.clients-block {
    height: 600px;
}

.clients-title {
    font-size: 30px;
    padding-bottom: 30px;
}

.design-it-block {
    width: 300px;
    height: 300px;
    background-color: #A2D39B;
    border: 15px solid #d7f1d4;
}

.asu-block {
    width: 300px;
    height: 300px;
    background-color: #812727;

}

.client-logo {
    color: white;
    width: 125px;
    filter: invert();
    
}

.clients-history {
    background-color: #F5F5F5;
    width: 750px;
    height: 600px;
}

.dropbox-business-cta {
    background-color: #B4D0E7;
}

.business-container {
    width: 50%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    vertical-align: top;
}

.business-cta {
    color: #812727;
    font-size: 40px;
    font-weight: 600;
    vertical-align: top;
    
}

#cta-business-trial {
    background-color: white;
    border: none;
    padding: 10px;
    width: 200px;
    vertical-align: top;
    margin-top: 10px;
}

/*Debug*/


